/*** Top row ***/

.top-container {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 .0625em .3125em rgba(0, 0, 0, .15);
    background-color: #ffffff;
}

.brand-row {
    height: 115px;
}

.brand-name {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Center vertically the containing logo */
.brand-logo-wrapper:before, .brand-catchwords-wrapper::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.brand-logo-wrapper, .brand-catchwords-wrapper {
    height: 100%;
}

.brand-catchwords-wrapper h1 {
    margin: 0;
    color: #666666;
}

.brand-catchwords-wrapper h4 {
    color: #666666;
    font-style: italic;
}

.brand-logo {
    max-width: 40%;
    max-height: 85%;
}

/*** Image slider ***/

.brand-slides {
    background-color: rgba(255, 255, 255, 0.4);
}

/* @formatter:off */
:host >>> .swiper-container {
    height: 460px;
    margin-top: 40px;
}
/* @formatter:on */

/*** Company infos ***/

.company-info {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 40px;
}

.company-info h3 {
    margin-bottom: 30px;
}

.brand-about h3 {
    margin-top: 0;
}

.sale-process {
    margin-top: 35px;
}

/*** Sale book ***/

.book-form-container {
    border-radius: 5px;
    margin-top: 40px;
    background-color: #ffffff;
}

.book-form-header {
    background-color: #33405c;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#book-sale-form {
    padding-left: 20px;
    padding-right: 20px;
}

.book-form-header h2 {
    color: #ff5449;
    margin-top: 10px;
}

.book-form-header h5 {
    color: #ffffff;
}

#sale-date {
    display: block;
}


