<div class="container-fluid top-container">

    <div class="row brand-row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 brand-catchwords-wrapper">
            <span class="kov brand-name">
                <h1>{{brand?.name}}</h1>
                <h4>{{brand?.catchWords}}</h4>
            </span>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 brand-logo-wrapper">
            <ng-container *ngIf="brand">
                <span class="kov logo">
                    <img class="brand-logo" [src]="'static/brands/' + brand.code + '/LOGO-' + brand.code + '.png'">
                </span>
            </ng-container>
        </div>
    </div>

</div>

<div class="main">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-7 col-lg-8">

                <ng-container *ngIf="slides.length > 0">
                    <div class="brand-slides">
                        <swiper-container [options]="swiperOptions" [slides]="slides"></swiper-container>
                    </div>
                </ng-container>

                <div class="company-info">
                    <div class="brand-about">
                        <h3 i18n="brand-detail | company description">About {{brand?.name}}</h3>
                        <p [innerHTML]="brand?.description"></p>
                    </div>
                    <div class="sale-process">
                        <h3 i18n="brand-detail | sale process">The sale process</h3>
                        <p [innerHTML]="brand?.saleProcess"></p>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-md-5 col-lg-4">
                <div class="book-form-container">
                    <div class="book-form-header">
                        <h2 i18n="book a sale form | Form with user's info - header">Book online</h2>
                        <h5 i18n="book a sale form | Form with user's info - sub-header">Free, no commitment</h5>
                    </div>
                    <div [hidden]="submitStatus != 'confirmed'" [ngClass]="successAlertClass" role="alert" i18n="book a sale form | book registered">Your request has been registered</div>
                    <form (ngSubmit)="onSubmit()" #saleForm="ngForm" id="book-sale-form" novalidate>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="sale-date" i18n="book a sale form | Date time for the sale">Date and time</label>
                                <!-- @TODO i18n -->
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="icomoon-liga icon-calendar"></i></div>
                                    <p-calendar
                                            [(ngModel)]="sale.date"
                                            showTime="showTime"
                                            required="true"
                                            #saleDate="ngModel"
                                            inputStyleClass="form-control"
                                            name="sale-date"
                                            id="sale-date"
                                            calendarOptions lang="fr-fr">
                                    </p-calendar>
                                </div>
                                <!-- Only required error is supported, not "pattern" -->
                                <div *ngIf="!saleDate.valid && isFormFullyOpened" class="form-error-msg" i18n>This field is incorrect</div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="city" i18n="book a sale form | City">City</label>
                                <input type="text" placeholder="Meeting place" i18n-placeholder="book a sale form | city placeholder" class="form-control" id="city" [(ngModel)]="sale.city" name="city"
                                       required #city="ngModel">
                                <ng-container *ngIf="!city.valid && isFormFullyOpened">
                                    <div *ngIf="city.hasError('required')" class="form-error-msg" i18n>This field is required</div>
                                </ng-container>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="stakeholders" i18n="book a sale form | stakeholders count">Number of stakeholders</label>
                                <input type="number" min="3" max="100" class="form-control" placeholder="10"
                                       id="stakeholders" name="stakeholders" [(ngModel)]="sale.stakeholderCount" required #stakeholders="ngModel">
                                <ng-container *ngIf="!stakeholders.valid && isFormFullyOpened">
                                    <div *ngIf="stakeholders.hasError('required')" class="form-error-msg" i18n>This field is required</div>
                                </ng-container>
                            </div>
                            <div [ngClass]="moreFieldClass" id="moreFields">
                                <div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                    <label i18n="book a sale form | lastname" for="lastname">Last name</label>
                                    <input type="text" class="form-control" placeholder="Your last name" i18n-placeholder="book a sale form | last name placeholder" name="lastname" id="lastname"
                                           required #lastName="ngModel" [(ngModel)]="sale.host.lastName">
                                    <ng-container *ngIf="!lastName.valid && isFormFullyOpened">
                                        <div *ngIf="lastName.hasError('required')" class="form-error-msg" i18n>This field is required</div>
                                    </ng-container>
                                </div>
                                <div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-6">
                                    <label i18n="book a sale form | firstname" for="firstname">First name</label>
                                    <input type="text" class="form-control" placeholder="Your first name" i18n-placeholder="book a sale form | first name placeholder" name="firstname" id="firstname"
                                           required #firstName="ngModel" [(ngModel)]="sale.host.firstName">
                                    <ng-container *ngIf="!firstName.valid && isFormFullyOpened">
                                        <div *ngIf="firstName.hasError('required')" class="form-error-msg" i18n>This field is required</div>
                                    </ng-container>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="icomoon-liga icon-email"></i></div>
                                        <input type="text" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$" placeholder="Your email"
                                               i18n-placeholder="book a sale form | email placeholder" name="email"
                                               required #email="ngModel" [(ngModel)]="sale.host.email">
                                    </div>
                                    <ng-container *ngIf="!email.valid && isFormFullyOpened">
                                        <div *ngIf="email.hasError('required')" class="form-error-msg" i18n>This field is required</div>
                                        <div *ngIf="email.hasError('pattern')" class="form-error-msg" i18n>This field is malformed</div>
                                    </ng-container>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="icomoon-liga icon-phone"></i></div>

                                        <!-- @TODO i18n -->
                                        <input type="text" class="form-control" [(ngModel)]="sale.host.phone" pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$"
                                               placeholder="Your phone number" i18n-placeholder="book a sale form | phone number"
                                               name="phone" #phone="ngModel" required>
                                    </div>
                                    <ng-container *ngIf="!phone.valid && isFormFullyOpened">
                                        <div *ngIf="phone.hasError('required')" class="form-error-msg" i18n>This field is required</div>
                                        <div *ngIf="phone.hasError('pattern')" class="form-error-msg" i18n>This field is malformed</div>
                                    </ng-container>
                                </div>
                                <div class="form-group col-sm-12">
                                    <textarea placeholder="Question ?" i18n-placeholder="book a sale form | Extra information " class="form-control" id="extra-information" name="extra-information"
                                              rows="3" [(ngModel)]="sale.extraInformation"></textarea>
                                </div>
                            </div>
                            <div class="form-submit form-group col-lg-8 col-sm-6 col-xs-12">
                                <button i18n="book a sale form | verify availabilities" type="submit" id="verify" class="btn btn-verify" [disabled]="submitStatus != 'notSubmitted'">Verify availability</button>
                            </div>
                            <div class="form-submit form-group col-lg-4 col-sm-6 col-xs-12">
                                <button i18n="book a sale form | Submit" type="submit" id="book" class="btn btn-submit" [disabled]="submitStatus != 'notSubmitted'">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
