p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.col-sm-4 h3 {
    color: black;
    text-align: center;
}

.col-sm-4 p {
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.col-sm-4 .bold {
    font-weight: bold;
}


#step1-img, #step2-img, #step3-img {
    display: block;
    margin: 0 auto 0;
    padding-top: 0;
}

#step1-img {
    background-image: resolve('sale_how_to/step1-where.png');
    width: width('sale_how_to/step1-where.png');
    height: height('sale_how_to/step1-where.png');
}

#step2-img {
    background-image: resolve('sale_how_to/step2-send-request.png');
    width: width('sale_how_to/step2-send-request.png');
    height: height('sale_how_to/step2-send-request.png');
}

#step3-img {
    background-image: resolve('sale_how_to/step3-follow-request.png');
    width: width('sale_how_to/step3-follow-request.png');
    height: height('sale_how_to/step3-follow-request.png');
}