<figure class="col-sm-4">
    <div id="step1-img"></div>
    <h3 i18n="home|step1 title">Choose your sale</h3>
    <p>
        <ng-container i18n="home|step1 description - part1">In a few clicks find the sale and</ng-container><!--
        --><span i18n="home|step1 emphasized description - part2" class="bold">the ambiance you would like to share</span><!--
        -->
        <ng-container i18n="home|step1 description - part3">with your friends.</ng-container>
    </p>
</figure>

<figure class="col-sm-4">
    <div id="step2-img"></div>
    <h3 i18n="home|step2 description">Send your request</h3>
    <p>
        <ng-container i18n="home|step2 description - part1">Requests the brands you would like to test.</ng-container><!--
        --><span i18n="home|step2 emphasized description - part2" class="bold">It is free without any commitment!</span>
    </p>
</figure>

<figure class="col-sm-4">
    <div id="step3-img"></div>
    <h3 i18n="home|step3 description">Follow your requests</h3>
    <p>
        <ng-container i18n="home|step3 description - part1">Follow the progress of your requests, meet your seller and</ng-container><!--
        --><span i18n="home|step3 emphasized description - part2" class="bold">confirm your reservation in one click.</span>
    </p>
</figure>