<div class="search-container">
    <div class="container-fluid">
        <div class="row inner-container-of-search-box">
              <span id="search-combo-wrapper" class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                  <select [ngModel]="selectedActivity" (ngModelChange)="onChange($event)" #activityCombo id="activity-combo">
                       <option [ngValue]="emptyActivity" disabled><ng-container i18n="brand-search-by-activity|select an activity">select an activity</ng-container></option>
                       <option *ngFor="let activity of activities" [ngValue]="activity">{{activity.label}}</option>
                  </select>
              </span>
        </div>
    </div>
</div>