.DS_Store
.settings
*.iml
.idea
target/
npm-debug.log
node_tmp
build
src/main/frontend/aot
src/main/frontend/node_modules
src/main/frontend/typings
src/main/frontend/dist
src/main/webapp/resources/generated
static
dev/application-override.properties