<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default_client_layout">
<head>
    <style layout:fragment="content-css"></style>
</head>
<body>

<span layout:fragment="content">

    <h3 th:text="#{mail.hello(${sale.getHost().getFirstName()})}">Hello</h3>
    <p th:text="#{mail.thank-you}">What you asked</p>
    <p th:text="#{mail.verify-availability.answer(${sale.getBrand().getName()})}">We are working on it</p>
    <p th:text="#{mail.verify-availability.feedback}">Keep in touch</p>
    <p th:text="#{mail.see-you-soon}">Regards,</p>
    <p th:text="#{mail.signature}">Elsa from Kovadom</p>

</span>
</body>
</html>