<div class="container container-small">
    <div class="row">
        <div class="col-sm-12">

            <confirmation-message-form [status]="submitStatus" (onDismiss)="onAlertDismissal()"></confirmation-message-form>
            <form (ngSubmit)="onSubmit()" #registrationForm="ngForm" novalidate>

                <div class="row">

                    <div class="form-group col-xs-12">
                        <label i18n="form | common - company name" for="company">Company name</label>
                        <input type="text" class="form-control" placeholder="Your company name" i18n-placeholder="form placeholder | common - company name" name="company" id="company"
                               required #company="ngModel" [(ngModel)]="contact.company" maxlength="250">
                        <form-validation required="true" [ref]="company" [onlyIf]="showExplicitErrorMessage"></form-validation>
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-6">
                        <label i18n="form | common - first name" for="firstname">First name</label>
                        <input type="text" class="form-control" placeholder="Your first name" i18n-placeholder="form placeholder | common - first name" name="firstname" id="firstname"
                               required #firstName="ngModel" [(ngModel)]="contact.firstName" maxlength="250">
                        <form-validation required="true" [ref]="firstName" [onlyIf]="showExplicitErrorMessage"></form-validation>
                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-6">
                        <label i18n="form | common - last name" for="lastname">Last name</label>
                        <input type="text" class="form-control" placeholder="Your last name" i18n-placeholder="form placeholder | common - last name" name="lastname" id="lastname"
                               required #lastName="ngModel" [(ngModel)]="contact.lastName" maxlength="250">
                        <form-validation required="true" [ref]="lastName" [onlyIf]="showExplicitErrorMessage"></form-validation>
                    </div>

                    <div class="form-group col-sm-12">
                        <email-form required name="email" #email="ngModel" [(ngModel)]="contact.email"></email-form>
                        <form-validation required="true" pattern="true" [ref]="email" [onlyIf]="showExplicitErrorMessage"></form-validation>
                    </div>

                    <div class="form-group col-sm-12">
                        <phone-form required name="phone" #phone="ngModel" [(ngModel)]="contact.phone"></phone-form>
                        <form-validation required="true" pattern="true" [ref]="phone" [onlyIf]="showExplicitErrorMessage"></form-validation>
                    </div>

                </div>
                <div class="submit-registration form-submit col-sm-12">
                    <button i18n="company contact | submit" type="submit" class="btn btn-submit" [disabled]="submitStatus != formStatus.NotSubmitted">Submit</button>
                </div>
            </form>

        </div>
        
    </div>
</div>
