<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <include file="${logback-override.path}" />

        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <!-- 10x10Mo files to limit size on disk -->
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>kovadom.%i.log</fileNamePattern>
                <maxIndex>10</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>10MB</maxFileSize>
            </triggeringPolicy>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="${root.level:-WARN}">
            <appender-ref ref="FILE"/>
        </root>

        <!--<logger name="org.springframework" level="DEBUG" />-->
        <logger name="com.kovadom" level="${kovadom.level:-WARN}" />
        <logger name="org.hibernate.SQL" level="${hibernate.level:-WARN}" />
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="${hibernate.level:-WARN}" />
        <!-- Uncomment to see SQL values -->
        <!--<logger name="org.hibernate.type" level="TRACE" />-->
</configuration>