/*** Global ***/

a {
    text-decoration: none !important;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: rgb(239, 112, 105);
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none inside;
    padding-left: 0;
}

/*** jumbotron ***/

.jumbotron {
    background-size: cover;
    background: url('img/home/home-sales.jpeg') no-repeat center;
    height: 500px;
}

.jumbotron h2 {
    font-size: 40px;
    color: #EFF7FF;
}

.jumbotron h3 {
    font-size: 22px;
    color: #EFF7FF;
}

#brand-search-combo-wrapper {
    margin-top: 80px;
    height: 100px;
    position: relative;
}

@media only screen and (min-width: 851px) and (max-width: 995px) {

    .jumbotron h2 {
        font-size: 37px;
    }

    .jumbotron h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 708px) and (max-width: 850px) {

    .jumbotron h2 {
        font-size: 32px;
    }

    .jumbotron h3 {
        font-size: 19px;
    }

}

@media only screen and (min-width: 526px) and (max-width: 707px) {

    .jumbotron h1 {
        font-size: 52px;
    }

    .jumbotron h2, .jumbotron h3 {
        display: inline-block;
    }

    .jumbotron h2 {
        font-size: 30px;
        max-width: 470px;
    }

    .jumbotron h3 {
        font-size: 18px;
        max-width: 330px;
    }

}

@media only screen and (min-width: 426px) and (max-width: 525px) {

    .jumbotron h1 {
        font-size: 52px;
    }

    .jumbotron h2, .jumbotron h3 {
        display: inline-block;
    }

    .jumbotron h2 {
        font-size: 30px;
        max-width: 400px;
    }

    .jumbotron h3 {
        font-size: 18px;
        max-width: 320px;
    }

}

@media only screen and (max-width: 425px) {

    .jumbotron h1 {
        font-size: 31px;
    }

    .jumbotron h2, .jumbotron h3 {
        display: inline-block;
    }

    .jumbotron h2 {
        font-size: 29px;
        max-width: 290px;
    }

    .jumbotron h3 {
        font-size: 16px;
        max-width: 300px;
    }

}

/*** Sale steps ***/

.access-sale .row {
    padding-bottom: 35px;
}

.access-sale p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

/*** How it works? ***/

.container4 {
    margin-top: 30px;
    margin-bottom: 40px;
}

/*** Activity ***/

.activity {
    background-color: #F5F2F3;
    padding-top: 30px;
}

.all-activities-container {
    margin-top: 20px;
    padding-bottom: 50px;
}
