<figure class="col-sm-4">
    <div id="save-time-img"></div>
    <h3 i18n="kovadom advantages time saving|time image title">Time saving</h3>
    <p i18n="kovadom advantages time saving|description">
        Access to all your brands through one single platform
    </p>
</figure>

<figure class="col-sm-4">
    <div id="advantages-img"></div>
    <h3 i18n="kovadom advantages host gift|host gift image title">Specific advantages</h3>
    <p i18n="kovadom advantages time saving|description">
        As a host, you can benefit from advantages provided by Kovadom: gifts, discounts or even a percentage on the sales.
    </p>
</figure>

<figure class="col-sm-4">
    <div id="team-img"></div>
    <h3 i18n="kovadom advantages team|team image title">A team at your service</h3>
    <p i18n="kovadom advantages team|description">
        We follow up until the organization of the sale
    </p>
</figure>