<div class="jumbotron">
    <div class="search-container">
        <div class="inner-container-of-search-box">
      <span>
        <select id="choix">
          <option value="../../Documents/VDI/page resultat entreprise.html">Résultat</option>
          <option value="../../plongee/index.html">La plongée</option>
          <option value="http://www.google.com">Recherche</option>
        </select>
      </span>
            <div class="btn btn-primary clicked">Search</div>
        </div>
    </div>
</div>


<section class="brand-result container">
    <h4 *ngIf="brands?.length == 0" i18n="brand list | No brands for a given activity">
        No brands associated with {{activity?.label | lowercase}}
    </h4>

    <ng-container *ngIf="brands?.length > 0">
        <h4 i18n="brand list | Discover all brands for a given activity">
            Discover all brands of {{activity?.label | lowercase}}
        </h4>

        <div class="row">

            <div *ngFor="let brand of brands" class="figure col-sm-6 col-md-4">
                <div class="subway">
                    <div class="subway-photo"
                         [ngStyle]="{'background-image': 'url(static/brands/' + brand.code + '.png)'}">
                        <div class="brand-name">{{brand.name}}</div>
                        <div class="brand-catchworld">{{brand.catchWords}}</div>
                    </div>
                    <div class="subway-footer">
                        <a class="btn red" href="../VDI/page entreprise slideshow2.html">J'organise ma vente</a>
                    </div>
                </div>
            </div>

        </div>
    </ng-container>

    <!-- @TODO faire un composant: utilisé ailleurs -->
    <div class="container">
        <div class="row text-center">
            <a class="btn btn-secondary" href="www.lemonde.fr">Voir toutes les ventes</a>
        </div>
    </div>

</section>