

/*Header*/
body{
    min-width: 305px;
}
header .row a{
    display: inline-block;
    height: 100%;
}
header .row a, header .row a:hover, header .row a:active, header .row a:focus{
    text-decoration: none;
}
header .row nav{
    float: right;
}
nav p{
    margin: 0;
    text-align: right;
    margin-right: 65px;
}
header.container-fluid{
    background-color: #1D2B4A;
    height: 80px;
    line-height: 80px;
}
header h1{
    color:rgb(236,83,74);
    margin: 10px 10px;
    line-height: 180px;
}
header .row a{
    margin-left: 65px;
}
.col-sm-8 a{
    text-decoration:none;
}

header a{
    color:white;
}

header a:hover{
    color:rgb(239,112,105);
}
.container-fluid nav p{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
}


header img{
    width:258px;
    height:96px;
    margin-top:10px;
}


/*Search bar*/
h1 {
    color: white;
}

span {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

span:before, span:after {
    content: "";
    position: absolute;
}

span:after {
    color: white;
    font-size: inherit;
    padding: 0.5em;
    pointer-events: none;
    right: 0.3em;
    top: 25%;
    vertical-align: middle;
}

.search-container select {
    color: red;
    cursor: pointer;
    background: white;
    border: 2px solid white;
    padding: 0.37em;
    padding-right: 2em;
    outline: none;
    width: 400px;
    border-radius: 2px;
    font-size: 22px;
}
option {
    background: white;
    color: #e54c45;
    font-size: 15px;
    outline: none!important;
}
.btn.btn-primary {
    border-radius: 2px;
    text-shadow: none;
    color: #e54c45;
    background-color: #ffffff;
    border: 2px solid white;
    font-size: 22px;
    letter-spacing: 1px;
    margin-left: 10px;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;

}
.btn.btn-primary:hover {
    background-color: #ffe8e7;
    color: #d03932;
    border-color: #ffe8e7;
}
.inner-container-of-search-box{
    padding: 15px 15px;

}
.search-container{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translate(0,-40%);


}
@media only screen and (min-width: 426px) and (max-width: 767px){
    .jumbotron h1{
        font-size: 52px;
    }
}
@media only screen and (max-width: 425px) {
    .jumbotron h1{
        font-size: 27px;
    }

    #choix, .btn.btn-primary{
        width: 93vw;
    }
    #choix{
        margin-bottom: 10px;

    }

}
/*End of search bar*/


/*Jumbotron page resultat*/
.jumbotron{
    background-color:grey;
    height:100px;
}


/*liste resultat*/

.figure{
    margin-bottom: 30px;
}
.subway{
    position: relative;
    height: 315px;
    border: 1px solid grey;
}
.subway-photo{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 240px;
}
.subway-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    font-family: Verdana, sans-serif;
    text-align:center;
    background-color: white;
}
.subway-content .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.texte, .texte2{
    text-align:center;
    font-family:Verdana;
    color:white;
}
.texte{
    font-size:26px;
    margin-top:160px;
}
.texte2{
    font-size:18px;
}

.btn.btn-liste {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    text-shadow: none;
    background-color: rgb(236,83,74);
    padding:10px 25px;

}

.btn.btn-liste:hover {
    color: #ffffff;
    background-color: rgb(239,112,105);
}


/*Conatiner bouton "plus de vente"*/
.container{
    margin-bottom:20px;
}

.btn.btn-secondary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    text-shadow: none;
    background-color: rgb(236,83,74);
    padding:10px 25px;
    margin-left:10px;

}

.btn.btn-secondary:hover {
    color: #ffffff;
    background-color: rgb(239,112,105);
}



/*Partie contact*/
.contact{
    background-color:#3B5796;
    height:auto;
    padding-top:20px;
    padding-bottom:20px;
}

.contact p{
    color: black;
    font-family:roboto;
    font-size:18px;
}
.contact li{
    color:black;
}

.contact .icone img{
    width:32px;
    height:32px;
}

.contact ul{
    list-style-type:none;
}

.btn.btn-referencer {
    border-radius: 2px;
    border: 0px;
    color: black;
    font-size:18px;
    text-shadow: none;
    background-color: rgb(236,83,74);
}

.btn.btn-referencer:hover {
    color: black;
    background-color: rgb(239,112,105);
}
/*Fin partie contact*/


/*Footer*/
footer {
    background-color:#1D2B4A;
    padding-top:30px;
}

footer  ul{
    list-style-type:none;
    text-decoration:none;
}

footer a{
    color:#FFFFFF;
    font-family:roboto;
}

footer a:link {
    text-decoration:none;
    color:white;
}

footer a:hover {
    color: rgb(239,112,105);
}


/*Navigation mobile header et jumbotron*/
@media only screen and (min-width: 851px) and (max-width: 995px){
    .jumbotron h2{
        font-size: 37px;
    }
    .jumbotron h3{
        font-size: 20px;
    }
}
@media only screen and (min-width: 708px) and (max-width: 850px){
    .jumbotron h2{
        font-size: 32px;
    }
    .jumbotron h3{
        font-size: 18px;
    }
    .jumbotron > .container > .row{
        margin-top: 30px;
    }
}
@media only screen and (min-width: 526px) and (max-width: 707px){
    .jumbotron h2, .jumbotron h3{
        display: inline-block;
    }
    .jumbotron h2{
        font-size: 30px;
        max-width: 470px;
    }
    .jumbotron h3{
        font-size: 17px;
        max-width: 310px;
    }
    .jumbotron > .container > .row{
        margin-top: 10px;
    }
}
@media only screen and (min-width: 426px) and (max-width: 525px){
    .jumbotron h2, .jumbotron h3{
        display: inline-block;
    }
    .jumbotron h2{
        font-size: 30px;
        max-width: 400px;
    }
    .jumbotron h3{
        font-size: 17px;
        max-width: 310px;
    }
    .jumbotron > .container > .row{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 680px){
    header h1{
        font-size: 30px;
    }
    .container-fluid nav p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }
    .container p{
        padding: 0 45px;
    }
    header .row a{
        margin-left: 45px;
    }
    .container-fluid nav p{
        margin-right: 45px;
    }
}
@media only screen and (max-width: 425px){
    header h1{
        font-size: 28px;
    }
    .jumbotron h2, .jumbotron h3{
        display: inline-block;
    }
    .jumbotron h2{
        font-size: 29px;
        max-width: 290px;
    }
    .jumbotron h3{
        font-size: 13px;
        max-width: 300px;
    }
    .jumbotron > .container > .row{
        margin-top: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 995px){
    .jumbotron > .container > .row{
        margin-top: 12px;
    }
}

@media only screen and (max-width: 492px){
    .container-fluid nav p{
        margin-right: 21px;
    }
    header .row a{
        margin-left: 21px;
    }
    .container p{
        padding: 0 20px;
    }
    .container-fluid nav p{
        font-size: 15px;
    }
    header h1{
        font-size: 26px;
    }
}
@media only screen and (max-width: 425px){
    header h1{
        font-size: 22px;
    }
}


