<div class="brand-search-combo-wrapper">
    <brand-search-by-activity></brand-search-by-activity>
</div>


<section class="brand-result container">

    <h4 class="no-brands" *ngIf="brands?.length == 0" i18n="brand list | No brands for a given activity">
        No sales associated with {{activity?.label | lowercase}}
    </h4>

    <ng-container *ngIf="brands?.length > 0">
        <h4 i18n="brand list | Discover all brands for a given activity">
            Discover all sales of {{activity?.label | lowercase}}
        </h4>

        <div class="row">

            <div *ngFor="let brand of brands" class="figure col-sm-6 col-md-4">
                <div class="subway">

                    <div class="subway-photo"
                         [ngStyle]="{'background-image': 'url(static/brands/' + brand.code + '/' + brand.code + '.png)'}">
                        <div class="brand-name">{{brand.name}}</div>
                        <div class="brand-catchword">{{brand.catchWords}}</div>
                    </div>

                    <div class="subway-footer">
                        <a class="btn red" [routerLink]="['/brands', brand.code | lowercase]">
                            <ng-container i18n="brand list | Organise a sale">Start my sale</ng-container>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </ng-container>

    <all-brands-button></all-brands-button>

</section>