/*** Global ***/

a {
    text-decoration: none !important;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: rgb(239, 112, 105) !important;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    margin: 0 auto 0;
    padding-top: 0;
}

ul {
    list-style: none inside;
    padding-left: 0;
}

/*** jumbotron ***/

.jumbotron {
    background-size: cover;
    background: url('img/home/home-sales.jpeg') no-repeat center;
    height: 500px;
}

.jumbotron h2 {
    font-size: 40px;
    color: #EFF7FF;
}

.jumbotron h3 {
    font-size: 22px;
    color: #EFF7FF;
}

@media only screen and (min-width: 851px) and (max-width: 995px) {
    .jumbotron h2 {
        font-size: 37px;
    }

    .jumbotron h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 708px) and (max-width: 850px) {
    .jumbotron h2 {
        font-size: 32px;
    }

    .jumbotron h3 {
        font-size: 18px;
    }

}

@media only screen and (min-width: 526px) and (max-width: 707px) {
    .jumbotron h2, .jumbotron h3 {
        display: inline-block;
    }

    .jumbotron h2 {
        font-size: 30px;
        max-width: 470px;
    }

    .jumbotron h3 {
        font-size: 17px;
        max-width: 310px;
    }

}

@media only screen and (min-width: 426px) and (max-width: 525px) {
    .jumbotron h2, .jumbotron h3 {
        display: inline-block;
    }

    .jumbotron h2 {
        font-size: 30px;
        max-width: 400px;
    }

    .jumbotron h3 {
        font-size: 17px;
        max-width: 310px;
    }

}

@media only screen and (max-width: 425px) {
    .jumbotron h2, .jumbotron h3 {
        display: inline-block;
    }

    .jumbotron h2 {
        font-size: 29px;
        max-width: 290px;
    }

    .jumbotron h3 {
        font-size: 13px;
        max-width: 300px;
    }

}

.search-container {
    position: absolute;
    margin-top: 130px;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translate(0, -40%);
}

.search-container select {
    color: red;
    cursor: pointer;
    background: white;
    border: 2px solid white;
    padding: 0.37em 2em 0.37em 0.37em;
    outline: none;
    width: 400px;
    border-radius: 2px;
    font-size: 22px;
}

.search-container option {
    background: white;
    color: #e54c45;
    font-size: 15px;
    outline: none !important;
}

.inner-container-of-search-box {
    padding: 15px 15px;
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
    .jumbotron h1 {
        font-size: 52px;
    }
}

@media only screen and (max-width: 425px) {
    .jumbotron h1 {
        font-size: 27px;
    }

    #ambiance-combo, .btn.btn-primary {
        width: 93vw;
    }

    #ambiance-combo {
        margin-bottom: 10px;

    }

    .btn.btn-primary {
        margin-left: 0;
    }
}

/*** Steps 1 2 3 ***/

.container p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.container .row {
    padding-bottom: 35px;
}

.container .col-sm-4 h3 {
    color:;
    text-align: center;
}

.container .col-sm-4 p {
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.container .col-sm-4 .bold {
    font-weight: bold;
}

/*** How it works? ***/

.container4 {
    margin-top: 30px;
    margin-bottom: 40px;
}

.btn.btn-howto {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    font-size: 18px;
    text-shadow: none;
    background-color: rgb(236, 83, 74);
}

.btn.btn-howto:hover {
    color: #ffffff;
    background-color: rgb(239, 112, 105);
}

/***************************** TODO **********************/
/*Partie contact*/
.contact {
    background-color: #3B5796;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.contact li {
    color: black;
}

.contact .icone img {
    width: 32px;
    height: 32px;
}

.contact ul {
    list-style-type: none;
}

.btn.btn-referencer {
    border-radius: 2px;
    border: 0px;
    color: black;
    font-size: 18px;
    text-shadow: none;
    background-color: rgb(236, 83, 74);
}

.btn.btn-referencer:hover {
    color: black;
    background-color: rgb(239, 112, 105);
}

/*Fin partie contact*/

/*Image avec Zoom*/
/* Background color*/
.ambiance {
    background-color: #F5F2F3;
    padding-top: 30px;
}

.hover-zoomin {
    padding: 15px 0;
    overflow: hidden;
}

.hover-zoomin a {
    display: block;
    height: 100%;
}

.wrapper {
    overflow: hidden !important;
    width: 100% !important;
    height: 200px !important;
}

.wrapper:hover .image {
    -webkit-transform: scale(1.2) !important;
    -moz-transform: scale(1.2) !important;
    -o-transform: scale(1.2) !important;
    -ms-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
}

.container h1 {
    margin: 0 !important;
    font-size: 30px !important;
    color: rgb(62, 58, 55);
}

.wrapper h2 {
    margin: 0 !important;
    font-size: 22px !important;
    color: #f5f5f5 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
    color: white;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

.image {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 0;
}

.first, .second, .third, .fourth, .fifth {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.first {
    background-image: url(lingerie6.jpg);
}

.second {
    background-image: url(degustation-vin-accueil.jpg);
}

.third {
    background-image: url(sex-toys.jpg);
}

.fourth {
    background-image: url(vente-produit-bio.jpg);
}

.fifth {
    background-image: url(mode-enfants4.jpg);
}

/*Fin image Zoom*/

.ambiance h1 {
    color: white;
}

/*Container bouton discret*/
.container2 {
    margin-top: 10px;
    padding-bottom: 50px;
}

.btn.btn-discret {
    border-radius: 2px;
    border: 0px;
    color: black;
    text-shadow: none;
    background-color: rgb(221, 219, 217);
}

.btn.btn-discret:hover {
    background-color: rgb(199, 196, 192);
}

/*Fin bouton discret*/