.inner-container-of-search-box {
    padding: 15px 15px;
}

#search-combo-wrapper {
    text-align: right;
    display: inline-block;
    float: none;
    vertical-align: middle;
}


#activity-combo {
    color: red;
    cursor: pointer;
    background: white;
    border: 2px solid white;
    padding: 0.37em 2em 0.37em 0.37em;
    outline: none;
    width: 100%;
    border-radius: 2px;
    font-size: 22px;
}

.search-container {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    /* Center in the parent (with 'relative' position) */
    top: 50%;
    transform: translate(0, -50%);
}


.search-container option {
    background: white;
    color: #e54c45;
    font-size: 15px;
    outline: none !important;
}

@media only screen and (max-width: 767px) {

    #activity-combo {
        width: 80%;
    }

    #search-combo-wrapper {
        text-align: center;
    }

}