<header class="container-fluid">

    <div class="row">
        <div class="col-xs-12 col-sm-8 logos">
            <span class="logo-wrapper">
                <a [routerLink]="['/home']">
                    <img class="img-responsive" src="img/kovadom/logo-kovadom.png">
                    <img class="img-responsive" src="img/kovadom/logo-kovadom-txt.png">
                </a>
            </span>
        </div>
        <div class="hidden-xs col-sm-4">
            <nav>
                <p><a class="red-hover" i18n="home sale explanation link" [routerLink]="['/homesalehowto']">Home sale</a></p>
            </nav>
        </div>
    </div>

</header>

<router-outlet></router-outlet>

<contact></contact>

<footer class="container-fluid">

    <div class="ativity-refs col-md-6">
        <ul>
            <li><a class="red-hover" i18n="footer|bio products" href="">Home sales of Bio products</a></li>
            <li><a class="red-hover" i18n="footer|lingerie" href="">Home sales of lingerie</a></li>
            <li><a class="red-hover" i18n="footer|kids clothes" href="">Home sales of kids clothes</a></li>
            <li><a class="red-hover" i18n="footer|sex toys" href="">Home sales of sex toys</a></li>
            <li><a class="red-hover" i18n="footer|vine tasting" href="">Home sales of vine tasting</a></li>
        </ul>
    </div>

    <div class="ativity-refs col-md-6">
        <ul>
            <li><a class="red-hover" i18n="footer|bio products" href="">Home sales of Bio products</a></li>
            <li><a class="red-hover" i18n="footer|lingerie" href="">Home sales of lingerie</a></li>
            <li><a class="red-hover" i18n="footer|kids clothes" href="">Home sales of kids clothes</a></li>
            <li><a class="red-hover" i18n="footer|sex toys" href="">Home sales of sex toys</a></li>
            <li><a class="red-hover" i18n="footer|vine tasting" href="">Home sales of vine tasting</a></li>
        </ul>
    </div>

</footer>

