<header class="container-fluid">

    <div class="row">
        <div class="col-xs-12 col-sm-8 htable logos">
            <span class="hsubtable">
                <a [routerLink]="['/home']">
                    <div class="logo-img img-responsive"></div><!--
                    --><div class="logo-txt img-responsive"></div>
                </a>
            </span>
        </div>
        <div class="hidden-xs col-sm-4 htable howto">
            <nav class="hsubtable">
                <p><a class="red-hover" i18n="home sale explanation link" [routerLink]="['/homesalehowto']">How it work ?</a></p>
            </nav>
        </div>
    </div>

</header>

<router-outlet></router-outlet>

<contact></contact>

<footer class="container-fluid">

    <div class="activity-refs col-md-6">
        <ul>
            <li><a class="red-hover" i18n="footer|bio products" href="">Home sales of Bio products</a></li>
            <li><a class="red-hover" i18n="footer|lingerie" href="">Home sales of lingerie</a></li>
            <li><a class="red-hover" i18n="footer|kids clothes" href="">Home sales of kids clothes</a></li>
            <li><a class="red-hover" i18n="footer|sex toys" href="">Home sales of sex toys</a></li>
            <li><a class="red-hover" i18n="footer|vine tasting" href="">Home sales of vine tasting</a></li>
        </ul>
    </div>

    <div class="activity-refs col-md-6">
        <ul>
            <li><a class="red-hover" i18n="footer|bio products" href="">Home sales of Bio products</a></li>
            <li><a class="red-hover" i18n="footer|lingerie" href="">Home sales of lingerie</a></li>
            <li><a class="red-hover" i18n="footer|kids clothes" href="">Home sales of kids clothes</a></li>
            <li><a class="red-hover" i18n="footer|sex toys" href="">Home sales of sex toys</a></li>
            <li><a class="red-hover" i18n="footer|vine tasting" href="">Home sales of vine tasting</a></li>
        </ul>
    </div>

</footer>

