/*** Header ***/

header .row a {
    display: inline-block;
    color: white;
}

/*header .row a, header .row a:hover, header .row a:active, header .row a:focus {*/
    /*text-decoration: none;*/
/*}*/

header.container-fluid {
    background-color: #1D2B4A;
}

.container-fluid nav p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: right;
    margin: 10px;
}

@media only screen and (max-width: 767px) {

    .container-fluid nav p {
        text-align: center !important;
    }

}

@media only screen and (max-width: 400px) {

    .container-fluid nav p {
        font-size: 14px;
    }

}

nav {
    border-radius: 0 !important;
}

header div.logos {
    display: table;
}

header .logo-wrapper {
    display: table-cell;
    vertical-align: middle;
}

header .logo-wrapper img {
    display: inline-block;
    height: 67px;
    margin: 15px 10px;
}

@media only screen and (max-width: 767px) {
    header div.logos {
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {

    header .logo-wrapper img {
        display: inline-block;
        height: 59px;
        margin: 10px 7px;
    }

}

/*** Footer ***/

footer {
    padding-top: 30px;
    background-color: black;
}

footer {
    background-color: #1D2B4A;
    padding-top: 30px;
}

footer ul {
    list-style-type: none;
    text-decoration: none;
}

footer a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

footer a:link {
    text-decoration: none;
}

@media only screen and (max-width: 767px) {

    .activity-refs {
        text-align: center;
    }

    .activity-refs ul {
        padding-left: 0;
    }

}
