<figure class="col-sm-4">
    <div id="fun-img"></div>
    <h3 i18n="fun xp|friendliness moment">A moment of friendliness</h3>
    <p>
        <ng-container i18n="fun xp|friendliness moment - part1">Home sale is over all a moment of</ng-container><!--
        --><span i18n="fun xp|friendliness moment - part2" class="bold">friendliness with friends.</span>
    </p>
</figure>

<figure class="col-sm-4">
    <div id="vip-img"></div>
    <h3 i18n="fun xp|quality and advices">Quality and advice</h3>
    <p>
        <ng-container i18n="fun xp|quality and advices - part1">Home sale means</ng-container><!--
        --><span i18n="fun xp|quality and advices - part2" class="bold">proximity products of quality. </span><!--
        --><ng-container i18n="fun xp|quality and advices - part3">Your sales consultant, passionate and available will guide you in your choice.</ng-container>
    </p>
</figure>

<figure class="col-sm-4">
    <div id="gift-img"></div>
    <h3 i18n="fun xp|advantages">Specific advantages</h3>
    <p>
        <ng-container i18n="fun xp|advantages - part1">As a host, you can win</ng-container><!--
        --><span i18n="fun xp|advantages - part2" class="bold">gift</span><!--
        --><ng-container i18n="fun xp|advantages - part3">,</ng-container><!--
        --><span i18n="fun xp|advantages - part4" class="bold">discounts</span><!--
        --><ng-container i18n="fun xp|advantages - part5">or even </ng-container><!--
        --><span i18n="fun xp|advantages - part6" class="bold">a percentage </span><!--
        --><ng-container i18n="fun xp|advantages - part7">on the sales.</ng-container>
    </p>
</figure>