<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default_client_layout">
<head>
    <style layout:fragment="content-css"></style>
</head>
<body>
<span layout:fragment="content">
    <h3 th:text="#{mail.hello(${contact.getFirstName()})}">Hello</h3>
    <p th:text="#{mail.registration.sale.recap}">What you asked</p>
    <p th:text="#{mail.registration.sale.description}">Description</p>
    <p th:text="#{mail.registration.sale.opportunities}">A lot of opportunities</p>
    <p th:text="#{mail.registration.sale.feedback}">We are working on it</p>
    <p th:text="#{mail.see-you-soon}">Regards,</p>
    <p th:text="#{mail.signature}">Elsa from Kovadom</p>
</span>
</body>
</html>