body {
    min-width: 305px;
    background-color: #f1f1f1;
}

span {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

span:before, span:after {
    content: "";
    position: absolute;
}

span:after {
    color: white;
    font-size: inherit;
    padding: 0.5em;
    pointer-events: none;
    right: 0.3em;
    top: 25%;
    vertical-align: middle;
}

.btn.red{
    border-radius: 2px;
    border: 0;
    color: white;
    font-size: 18px;
    text-shadow: none;
    background-color: rgb(236, 83, 74);
}

.btn.red:hover {
    color: white;
    background-color: rgb(255, 30, 30);
}

.btn.btn-discreet {
    border-radius: 2px;
    border: 0;
    color: black;
    text-shadow: none;
    background-color: rgb(221, 219, 217);
}

.btn.btn-discreet:hover {
    background-color: rgb(199, 196, 192);
    color: black;
}

