<div class="contact">

    <section class="container-fluid">

        <div class="row">

            <div class="col-sm-4 col-sm-offset-1 text-center">
                <p i18n="contact|Home sales business">You are a home sales company?</p>
                <a i18n="contact|Company registration" class="btn red" href="todo">Register your company</a>
            </div>

            <div id="contact-info" class="col-sm-5 col-sm-offset-2">
                <ul>
                    <li><strong i18n="contact|contact-info1">Contact</strong></li>
                    <li>
                        <ng-container i18n="contact|contact-info2 (email)">E-mail:</ng-container>
                        contact@eventhome.fr
                    </li>
                    <li>
                        <ng-container i18n="contact|contact-info3 (phone)">Phone:</ng-container>
                        01 87 64 56 35
                    </li>
                </ul>

                <ul class="icone">
                    <li><img src="img/contact/instagram.svg"></li>
                    <li><img src="img/contact/instagram.svg"></li>
                    <li><img src="img/contact/instagram.svg"></li>
                </ul>
            </div>

        </div>

    </section>

</div>