div.contact {
    background-color: white;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}

div.contact p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    min-width: 375px;
}

div.contact li {
    color: black;
}

a.contact {
    vertical-align: top;
    line-height: 22px;
    text-decoration: none;
    color: black;
}

i.contact {
    vertical-align: top;
    margin-right: 6px;
    line-height: 22px;
    font-size: 20px;
}

.icon-social {
    padding: 0;
}

.icon-social li {
    display: inline-block;
}

#facebook, #twitter {
    width: 32px;
    height: 32px;
    display: inline-block;
}

#facebook {
    background-image: resolve("contact/facebook.png");
}

#twitter {
    background-image: resolve("contact/twitter.png");
}

#contact-info ul {
    list-style-type: none;
    padding-left: 0;
}

@media only screen and (max-width: 1250px) {

    #contact-info {
        font-size: 13px;
    }

    .register-info h4, .register-info a, #social-info h4, #contact-info h4 {
        font-size: 17px;
    }

}

@media only screen and (max-width: 1190px) {

    .register-info h4, .register-info a, #social-info h4, #contact-info h4 {
        font-size: 15px;
    }

}

@media only screen and (max-width: 790px) {

    #contact-info {
        font-size: 12px;
    }

}

@media only screen and (max-width: 767px) {
    .register-info, #social-info, #contact-info {
        text-align: center;
        margin-top: 30px;
    }

    .register-info h4, .register-info a, #social-info h4, #contact-info h4 {
        font-size: 20px;
    }

    #contact-info {
        font-size: 17px;
    }
}

@media only screen and (max-width: 425px) {

    .register-info h4, #social-info h4, #contact-info h4 {
        font-size: 17px;
    }

}
